.navbar {
    padding: .8rem !important;
    background-color:#282828 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #505050;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #707070;
}

a {
  color: #FFFFFF !important;
}
a:visited {
  color: #636;
}
a:hover, a:active, a:focus {
  color:#909090 !important;
}

.nav-link {
  font-size: 1.1em !important;
  color:#FFFFFF !important;
}

.body {
  background-color:#181818;
}

h3 {
  color:#FFFFFF !important;
}

h2 {
  color:#FFFFFF !important;
}

h1 {
  color:#FFFFFF !important;
}

hr {
    background-color: #F8F8F8;
}

.form {
  color:#FFFFFF !important;
}


.list-group-item {
  background-color:#303030 !important;
  color:#FFFFFF !important;
}

.col {
  color:#FFFFFF !important;
}

.row {
  color:#FFFFFF !important;
}

.footer {
  background-color:#282828;
  color:#000000 !important;
}

@media (min-width: 1500px) {
    .extra {
         padding-top:20rem !important;
    }
}

@media (min-width: 2000px) {
    .extra {
         padding-top:25rem !important;
    }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
