<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For mobile? -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}
    <title>Youwu</title> <!-- Default title if one isn't set in block -->
</head>


<body class="body">

<!-- Navigation -->
<nav class ="navbar navbar-expand-md navbar-dark sticky-top" >
<div class="container-fluid">
	<a class="navbar-brand" href="/"><img src="{% static 'Logo.png'%}" style="width:100%;height:100%;"></a>
  <form action="{% url 'anime:search_results' %}" method="get">
      <input name="q" type="text" placeholder="search for anime title" style="background-color:#181818;color:#FFFFFF">
  </form>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/">Profile</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="/posts/">Users</a>
			</li>
      <li class="nav-item">
				<a class="nav-link" href="/logout/">Sign out</a>
			</li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="/register/">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login/">Login</a>

      {% endif %}
			</li>
		</ul>
	</div>
</div>
</nav>
<!--- End of navigation -->

<div class = "container mycontent">
  {% block content %}

  {% endblock %}
</div>

<!--- Footer -->
<br>
<br>
<br>
<footer>
  <div class="container-fluid footer">
  <div class="row text-center">
    <div class="col-md-4">
      <hr class="light">
      <h5>Four Jacks</h5>
      <hr class="light">
      <p><a class="navbar-brand" href="/"><img src="{% static 'Logo.png'%}" style="width:100%;height:100%;"></a></p>
      <p><a href="https://github.com/Four-Jacks"><i class="fab fa-github-square" style="font-size: 48px;color:#FFFFFF;"></i></a></p>
      <p>CS 4800-01 Fall 2019</p>
      <p>Dr. Sun</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <h5>Group</h5>
      <hr class="light">
      <p>John Kim</p>
      <p>John Gers <a href="https://www.linkedin.com/in/johngers/"><i class="fa fa-linkedin-square" style="font-size: 18px;color:#FFFFFF;"></i></a></p>
      <p>James Lansdown</p>
      <p>Joshua Fernandes</p>
      <p>Danny Prakonekham</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <h5>Demo?</h5>
      <hr class="light">
      <p>Youtube link?</p>
    </div>
  </div>
</div>
</footer>
</body>
</html>
