{% extends "base.html" %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}

<!--- Content of page -->
<div class="parent-container d-flex flex-wrap flex-lg-nowrap flex-md-nowrap">

 <!--- Profile Section -->
    <div class="container-fluid col-lg-2 col-md-3 col-10 col-sm-10 col-xl-2">
        <div class="row affix">
           <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
             <h3 align="center">{{ user|title }}</h3>
                <div style="padding-bottom:20px;padding-top:20px;background:#282828;" align="center">
                  <img src="{{ user.userprofile.avatar }}" class="col-4 col-sm-4 col-md-10 col-lg-10 img-fluid">
                </div>
                <div style="padding-bottom:20px;padding-top:20px;background:#282828;" align="center">
                  {{ user.userprofile.status }}
                </div>
                <div style="padding-bottom:20px;padding-top:20px;background:#282828;" align="center">
                  Favorite Anime: {{ user.userprofile.favorite_anime }}
                </div>
                <div style="padding-bottom:20px;padding-top:20px;background:#282828;" align="center">
                  <a href="{% url 'change_friend' operation='add' pk=user.id %}"
                      class='btn btn-success'>Add as Friend</a>
                </div>
                <div style="padding-bottom:20px;padding-top:20px;background:#282828;" align="center">
                  <a href="{% url 'change_friend' operation='remove' pk=user.id %}"
                    class='btn btn-danger'>Remove Friend</a>
                </div>
           </div>
         </div>
       </div>
    <!--- End of profile column -->


<!--- Top 5 section -->
<div class="container-fluid col-lg-8 col-md-7 col-12 col-sm-12 col-xl-8">
<h3 align="center">Your Anime</h3>
   <div class="row affix">
      {% for anime in animes %}
      <div class="col-6 col-sm-6 col-md col-lg col-xl">
        <div class="rounded-top rounded-bottom" style="padding-top:10px;padding-bottom:10px;background:#282828;" align="center">
            <a href="{% url 'anime:anime_detail' pk=anime.id %}"><img src="{{ anime.img_url }}" width="100" height="140"></a>
        </div>
           <div class="rounded-bottom" align="center" style="padding-top:2px;padding-right:2px;">
               <p>{{ anime.title }}</p>
           </div>

      </div>
         {% endfor %}
    </div>
</div>
<!--- End of top 5-->




 <!--- Friends  style="overflow: auto" can make friends list scrollable-->
 <div class="container col-lg-2 col-md-2 col-8 col-sm-7 col-xl-2">
   <h3 align="center">Friends</h3>
      <div class="row affix">
          {% for friend in friends %}
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div style="padding-bottom:20px;padding-top:20px;background:#282828;" align="center">
                 <a href="{% url 'friend_view' pk=friend.id %}">{{ friend.username|title }}</a>
              </div>
         </div>
            {% endfor %}
       </div>
  </div>
 <!--- End of friends-->
<!--- End of friends-->

</div> <!--- Closes the Container with the profile and the top 5 -->



{% endblock %}
