{% extends "base.html" %}

{% block title %}
<title>Users</title>
{% endblock %}

{% block content %}
    <h1>Users</h1>
     <div class="container">
          <div class="row affix justify-content-center">
              {% for user in users %}
              <div class="col col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                  <div class="rounded-top rounded-bottom" style="padding-top:10px;padding-bottom:10px;background:#282828;" align="center">
                    <a href="{% url 'friend_view' pk=user.id %}"><img src="{{ user.userprofile.avatar }}" width="100" height="140"></a>
                  </div>
                     <div class="rounded-bottom" align="center" style="padding-top:2px;padding-right:2px;">
                         <a href="{% url 'friend_view' pk=user.id %}">{{ user|title }}</a>
                     </div>

             </div>
            {% endfor %}
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
{% endblock %}
