{% extends "base.html" %}

{% block title %}
<title>Friends</title>
{% endblock %}

{% block content %}
    <h1>Friends</h1>
    <form method="post">
        <input type="text" placeholder="Search friends" style="background-color:#989898;color:#000000">
    </form>
    <h2>Might change this from friends to users?</h2>
<div class="container">
    <!--- Friends -->
      <div class="row affix">
        <div class="col">
          <ul class="list-friends">
            {% for friend in friends %}
             <li class="list-group-item">{{ friend.username|title }}</li>
             {% endfor %}
           </ul>
        </div>
      </div>
     </div>
    <!--- End of friends-->

{% endblock %}
