{% extends "base.html" %}

{% block title %}
<title>Sign up</title>
{% endblock %}



{% block content %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form  class="form" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" onclick="return confirm('Our website does not use HTTPS which means that your password may be susceptible to man in the middle attacks. As a result, we ask that the password is unique to this site. Would you like to continue with this password?')" class="btn btn-primary" value="Sign up">
    </form>
</body>
{% endblock %}
